//@theme "/home/benjaminpaiva/.local/share/rofi/themes/solokai.rasi"
//@theme "/home/benjaminpaiva/.local/share/rofi/themes/dracula.rasi"
//@theme "/home/benjaminpaiva/.local/share/rofi/themes/catppuccin.rasi"
@theme "/home/benjaminpaiva/.local/share/rofi/themes/nord.rasi"
